<div class="general">
    <h2>Géneros</h2>
    <div class="menu">
        <div class="generos">
            <a routerLink="action">
                <img src="../../../assets/imgs/accion.png" alt="">
                <p>Accion</p>
            </a>
        </div>
        <div class="generos">
            <a routerLink="passion">
                <img src="../../../assets/imgs/amor.png" alt="">
                <p>Amor</p>
            </a>
        </div>
        <div class="generos">
            <a routerLink="animation">
                <img src="../../../assets/imgs/animacion.png" alt="">
                <p>Animación</p>
            </a>
        </div>
        <div class="generos">
            <a routerLink="adventures">
                <img src="../../../assets/imgs/aventuras.png" alt="">
                <p>Aventuras</p>
            </a>
        </div>
        <div class="generos">
            <a routerLink="sciencefiction" routerLinkActive="router-link-active" >
                <img src="../../../assets/imgs/cienciaFiccion.png" alt="">
                <p>Ciencia ficción</p>
            </a>
        </div>
        <div class="generos">
            <a routerLink="comedy">
                <img src="../../../assets/imgs/comedia.png" alt="">
                <p>Comedia</p>
            </a>
        </div>
        <div class="generos">
            <a routerLink="fantasy">
                <img src="../../../assets/imgs/fantasia.png" alt="">
                <p>Fantasía</p>
            </a>
        </div>
        <div class="generos">
            <a routerLink="terror">
                <img src="../../../assets/imgs/terror.png" alt="">
                <p>Terror</p>
            </a>
        </div>
        <div class="generos">
            <a routerLink="thriller">
                <img src="../../../assets/imgs/thriller.png" alt="">
                <p>Thriller</p>
            </a>
        </div>
        <div class="generos">
            <a routerLink="western">
                <img src="../../../assets/imgs/western.png" alt="">
                <p>western</p>
            </a>
        </div>
    </div>
</div>
