.movies{
    display: grid;
    grid-template-columns:  repeat(4,1fr);
    color: black;
    text-align: center;
    background: rgb(92, 85, 85);
    .movie{
        background-color: rgb(42, 95, 46);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 1rem;
        padding: 0.8rem;
        border-radius: 0.7rem;
        h2{
            font-size: 1.2rem;
        }
        img{
            border-radius:0.7rem;
            width: 200px;
        }
    }
} 
.pagination {
    display: flex;
    justify-content: center;
    padding: 0.5em;
    align-items: center;
    width: 100%;
    height: 10%;
    background: rgb(92, 85, 85);

    .pageButton {
        all: unset;
        font-size: 2em;
        padding: 0.5em;
        margin: 0.5em;
        border-radius: 0.3em;
        cursor: pointer;
        transition: all 0.5s;
        min-width: 3em;
        text-align: center;
        &:hover {
            box-shadow: 2px 2px 15px -4px rgba(0, 0, 0, 0.75);
        }
    }
}
