<div class="menuPrincipal" >
  <div class="menuPrincipalHijo">
    <div class="blank"></div>
    <div class="tituloPelicula">
        {{choosenFilm.title}}
    </div>
    <div class="img-overview">
      <div class="InformacionPelicula">
        <div class="fInfoA">
          <img width="300" height="430" src="https://image.tmdb.org/t/p/w200/{{choosenFilm.poster_path}}" alt="">
        </div>
      </div>    
      <div class="fInfoB">
        <div class="descripcionPelicula">
          <p>{{choosenFilm.overview}}</p>
        </div>
      </div>
    </div>
    <div class="blank"></div>
    <div class="enviar">
        <div  class="enviarIdFilm">
          <div *ngIf="isLogin"  class="submitCont">
            <button type="submit" class="botonEnviar" (click)="createOrder(choosenFilm._id)">
              <p>Alquilar</p>
            </button>
          </div>
        </div>   
    </div>
  </div>
</div>
